<template name="resources">

	<div class="bg-cover bg-cover-blue-orange">
		<div class="page resources">

			<div class="center-block text-center story-section {{#if active 'RESOURCES'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">
						<h1>RESOURCES</h1>
						<p>
							Australia's population is projected to double to 46 million by 2075
							<a class="white-underline" target="_blank" href="http://www.abs.gov.au/ausstats/abs@.nsf/lookup/3222.0Media%20Release12012%20(base)%20to%202101">
								(ABS) <i class="fa fa-external-link"></i>
							</a>
						</p>
						<p>
							Australia does not have a formal population policy that commits the country to a particular population target.
						</p>
						<button class="section-trigger hollow button white-button medium" data-section="GRAPH">NEXT <i data-section="GRAPH" class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>

			<div class="story-section {{#if active 'GRAPH'}}show-section{{/if}}">

				<div id="population-tally">

					<div class="cell divider">
						<h2 title="Combined births in Australia with international migration net gains">births*</h2>
						<p class="tally">{{births}}</p>
					</div>
					<div class="cell">
						<h2>deaths</h2>
						<p class="tally">{{deaths}}</p>
					</div>
				</div>

				<div id="population-count">

					Pop: {{formatLargeNum population}}

					<div class="population-speed">
						<label title="Population projection sped up by factor of 10.">Projection speed:
							<select class="projection-select">
								<option value="18">x10 (more visual activity)</option>
								<option value="0">x1 (real-time accuracy)</option>
							</select>
						</label>
					</div>

					<p class="time">Projection time: {{time}}</p>
				</div>

				<div id="resources-map"></div>

				<div class="center-controls center-controls-left">
					<button class="left section-trigger hollow button white-button medium" data-section="RESOURCES"><i data-section="RESOURCES" class="fa fa-chevron-left"></i> BACK</button>
				</div>

				<div class="center-controls center-controls-right">
					<button class="right section-trigger hollow button white-button medium" data-section="SUMMARY">NEXT <i data-section="SUMMARY" class="fa fa-chevron-right"></i></button>
				</div>

			</div>

			<div class="center-block text-center story-section {{#if active 'SUMMARY'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">
						<h1><i class="fa fa-line-chart"></i></h1>
						<p>
							Australia is one of the most urbanised countries in the world.<br/>
							Significant population growth is already creating a range of pressures in many Australian cities.
						</p>
						<p>
							This is also the case across developing and advanced economies and includes public services,
							infrastructure, housing, energy, food &amp; water supplies, and, under current policy,
							Australia is faced with significant population growth in the foreseeable future.
						</p>
						<button class="section-trigger hollow button white-button medium" data-section="GRAPH"><i data-section="GRAPH" class="fa fa-chevron-left"></i> BACK</button>
						<button class="section-trigger hollow button white-button medium" data-section="SUMMARY2">NEXT <i data-section="SUMMARY2" class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>

			<div class="center-block text-center story-section {{#if active 'SUMMARY2'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">
						<h1><i class="fa fa-globe"></i></h1>
						<p>
							There are many ethical and political components to the question of how Australia manages this complex problem.
						</p>
						<p>
							However; Australian's will likely lean heavily on the fruits of Science, Technology, Engineering &amp;
							Mathematics to buy us time, and offer alternative ways to move the nation forward.
						</p>
						<button class="section-trigger hollow button white-button medium" data-section="GRAPH"><i data-section="GRAPH" class="fa fa-chevron-left"></i> BACK</button>
						<a href="{{pathFor 'appendix'}}" class="hollow button white-button medium">
							APPENDIX <i class="fa fa-info-circle"></i>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>

</template>