@import '../../theme/globals';
@import '../../theme/colors';

.appendix {
  padding-top: @headerHeight;
  padding-bottom: @headerHeight * 2;
  position: relative;
  z-index: 0;

  h2 {
    color: @offWhite;
  }
}