<template name="appendix">

	<div class="bg-cover bg-cover-purple">
		<div class="page appendix">

			<div class="text-center">
				<div class="row">
					<div class="medium-8 medium-offset-2 columns">
						<h1>Appendix</h1>
						<p>
							STEM, Australia was built in ~46 hours during <a class="white-underline" href="https://www.govhack.org/" target="_blank">GovHack</a>.<br/>
							As such, accuracy of data is in no way guaranteed, and is for demonstration purposes only.
						</p>

						<h2>Climate Data</h2>
						<p>CSIRO Australian Climate Observations Reference Network - Surface Air Temperature Dataset: https://data.gov.au/dataset/acorn-sat (used all observations dump).</p>

						<h2>Energy Data</h2>
						<p>Department of Industry, Innovation and Science: http://www.industry.gov.au/Office-of-the-Chief-Economist/Publications/Pages/Australian-energy-statistics.aspx</p>

						<h2>Resources Data</h2>
						<p>ABS Population data:
							<ul>
								<li>ttp://www.abs.gov.au/ausstats/abs@.nsf/Latestproducts/3301.0Main%20Features52014?opendocument&tabname=Summary&prodno=3301.0&issue=2014&num=&view=</li>
								<li>http://www.abs.gov.au/ausstats/abs@.nsf/Previousproducts/3302.0Main%20Features42013?opendocument&tabname=Summary&prodno=3302.0&issue=2013&num=&view=</li>
								<li>http://www.abs.gov.au/ausstats/abs@.nsf/mf/3101.0</li>
							</ul>
						</p>

						<h2>Tools</h2>
						<ul>
							<li>http://meteor.com</li>
							<li>http://c3js.org</li>
							<li>https://d3js.org/</li>
							<li>Deployed with AWS EC2</li>
							<li>http://foundation.zurb.com</li>
							<li>http://leafletjs.com</li>
							<li>https://github.com/Leaflet/Leaflet.markercluster</li>
							<li>...</li>
						</ul>

					</div>
				</div>
			</div>

		</div>
	</div>

</template>