<template name="appendix">

	<div class="bg-cover" style="overflow: auto;">
		<div class="page appendix bg-cover-purple">

			<div class="text-center">
				<div class="row">
					<div class="medium-8 medium-offset-2 columns">
						<h1>Appendix</h1>
						<p>
							STEM, Australia was built in ~46 hours during <a class="white-underline" href="https://www.govhack.org/" target="_blank">GovHack</a>.<br/>
							As such, accuracy of data is in no way guaranteed, and is for demonstration purposes only.
						</p>

						<h2>Climate Data</h2>
						<p>CSIRO Australian Climate Observations Reference Network - <a href="https://data.gov.au/dataset/acorn-sat" class="white-underline">
							Surface Air Temperature Dataset</a> (used all observations dump).</p>

						<h2>Energy Data</h2>
						<p>Department of Industry, Innovation and Science -
							<a class="white-underline" href="http://www.industry.gov.au/Office-of-the-Chief-Economist/Publications/Pages/Australian-energy-statistics.aspx">Australian Energy Statistics</a></p>

						<h2>Resources Data</h2>
						<p>ABS Population data:
							<a href="http://www.abs.gov.au/ausstats/abs@.nsf/mf/3101.0" class="white-underline">Australian Demographic Statistics</a><br/>
							<a href="http://www.abs.gov.au/ausstats/abs@.nsf/Latestproducts/3301.0Main%20Features52014?opendocument&tabname=Summary&prodno=3301.0&issue=2014&num=&view=" class="white-underline">Births, Australia, 2014</a><br/>
							Also uses projection statistics based on ABS's own
							<a href="http://www.abs.gov.au/ausstats/abs%40.nsf/94713ad445ff1425ca25682000192af2/1647509ef7e25faaca2568a900154b63?OpenDocument" class="white-underline">population clock.</a>
						</p>

						<h2>Tools</h2>
						<ul>
							<li>http://meteor.com</li>
							<li>http://c3js.org</li>
							<li>https://d3js.org/</li>
							<li>Deployed with AWS EC2</li>
							<li>http://foundation.zurb.com</li>
							<li>http://leafletjs.com</li>
							<li>https://github.com/Leaflet/Leaflet.markercluster</li>
							<li>...</li>
						</ul>

					</div>
				</div>
			</div>

		</div>
	</div>

</template>