<template name="appendix">

	<div class="bg-cover bg-cover-purple">
		<div class="page appendix">

			<div class="text-center">
				<div class="row">
					<div class="medium-8 medium-offset-2 columns">
						<h1>Appendix</h1>

						<p>
							STEM, Australia was built in ~46 hours during <a class="white-underline" href="https://www.govhack.org/" target="_blank">GovHack</a>.<br/>
							As such, accuracy of data is in no way guaranteed, and is for demonstration purposes only.
						</p>

						<h2>Climate Data</h2>
						<p>desc</p>

						<h2>Energy Data</h2>
						<p>desc</p>

						<h2>Resources Data</h2>
						<p>desc</p>

					</div>
				</div>
			</div>

		</div>
	</div>

</template>