<template name="about">

	<div class="about">

		<div class="row">
			<div id="about-top" class="medium-12 columns">
				<h2>about carbon dashboard</h2>
				<ul class="nav">
					<li><a href="#about-features-now" class="anchor">features - now</a></li>
					<li><a href="#about-features-next" class="anchor">features - next</a></li>
					<li><a href="#about-examples" class="anchor">visual examples</a></li>
					<li><a href="#about-data" class="anchor">data</a></li>
					<li><a href="#about-disclaimers" class="anchor">disclaimers</a></li>
					<li><a href="#about-dev-resources" class="anchor">development resources</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div id="about-features-now" class="medium-12 columns">

				<div class="callout secondary">
					<h3>features - now {{>topAnchor}}</h3>
				</div>

				<p><strong>features that are at least partially implemented now:</strong></p>

				<ul>
					<li>interface with SensorCloud v2 API</li>
					<li>visualise voyage data on map</li>
					<li>integrate model data (imagery from DBL - e.g. Salinity, Temp etc.)</li>
					<li>comparison between voyage and model data (along voyage transect)</li>
					<li>time-series plot of voyage data</li>
					<li>box-plot comparison of voyage data</li>
					<li>optional basemaps (e.g. satellite)</li>
					<li>wind data vis overlay</li>
					<li>chart builder with statistical time-series</li>
					<li>aggregated animation builder</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div id="about-features-next" class="medium-12 columns">

				<div class="callout secondary">
					<h3>features - next {{>topAnchor}}</h3>
				</div>

				<p><strong>features or ideas that may be implemented next:</strong></p>

				<ul>
					<li>automated ingestion of voyage data into SensorCloud from existing FTP</li>
					<li>time series for a restricted location (draw BBOX)</li>
					<li>live dashboard for latest available data</li>
					<li>deeper temporal control of model data (e.g. DBL, wind currently using present time only)</li>
					<li>additional weather data overlays (cloud, humidity, rain, temp etc.)</li>
					<li>generate share link for vector animations</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div id="about-examples" class="medium-12 columns">

				<div class="callout secondary">
					<h3>visual examples {{>topAnchor}}</h3>
				</div>

				<h5>Visualise voyage data</h5>
				<img src="images/examples/voyage-data.png" />

				<h5>Compare voyage and model data</h5>
				<img src="images/examples/compare-model.png" />

				<h5>Box-plot comparison of voyages</h5>
				<img src="images/examples/box-plots.png" />

				<h5>Optional basemaps and weather overlays</h5>
				<img src="images/examples/wind.gif" />

				<h5>Chart builder with statistical time-series</h5>
				<img src="images/examples/charts.png" />

				<h5>5 x month aggregate animation of salinity</h5>
				<img src="images/examples/animation.gif" />

			</div>
		</div>

		<div class="row">
			<div id="about-data" class="medium-12 columns">
				<div class="callout secondary">
					<h3>data {{>topAnchor}}</h3>
				</div>

				<p><strong>a bit about the data:</strong></p>

				{{>lorem}}
			</div>
		</div>

		<div class="row">
			<div id="about-disclaimers" class="medium-12 columns">
				<div class="callout secondary">
					<h3>disclaimers {{>topAnchor}}</h3>
				</div>
				{{>lorem}}
			</div>
		</div>

		<div class="row">
			<div id="about-dev-resources" class="medium-12 columns">
				<div class="callout secondary">
					<h3>development resources {{>topAnchor}}</h3>
				</div>
				<p><strong>notes on useful tools, further work etc.</strong></p>
				{{>lorem}}
			</div>
		</div>

	</div>

</template>



<template name="topAnchor">
	<a href="#about-top" class="anchor">[top]</a>
</template>

<template name="lorem">
	<div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac commodo lorem. Vestibulum non mi et odio maximus pretium. Etiam eu consectetur est. Ut maximus pulvinar condimentum. Mauris dictum faucibus blandit. Praesent convallis vestibulum interdum. Aliquam dui ex, tempus id elementum nec, fermentum ac nisi. Quisque ac mi quis enim auctor cursus. Fusce volutpat neque in neque vulputate pretium. Vivamus sollicitudin bibendum erat eget accumsan.
		</p>
		<p>
			Nam ex felis, volutpat in nisl nec, commodo cursus libero. Nulla cursus lorem leo, eu lobortis nisi sollicitudin sed. Suspendisse ante nunc, pretium ut aliquam quis, porta congue erat. Nam at volutpat magna. Ut fermentum pulvinar metus. Sed sed convallis dolor. Vivamus ultricies suscipit lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut velit lectus, rhoncus ut tellus id, varius accumsan dolor. Donec tristique sed dui eget cursus. Curabitur vel tincidunt nunc. Donec condimentum vulputate odio quis volutpat. Ut finibus non lectus nec dapibus. Suspendisse iaculis luctus erat eu porttitor.
		</p>
	</div>
</template>