<template name="climate">

	<div class="bg-cover bg-cover-green">
		<div class="page climate">

			<div class="center-block text-center story-section {{#if active 'CLIMATE'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">
						<h1>CLIMATE CHANGE</h1>
						<p>
							"Australia faces significant environmental and economic impacts from climate change across a
							number of sectors, including water security, agriculture, coastal communities, and infrastructure."
						</p>
						<p>- Department of Environment and Energy</p>
						<button class="section-trigger hollow button white-button medium" data-section="INTRO">NEXT <i class="fa fa-chevron-right" data-section="INTRO"></i></button>
					</div>
				</div>
			</div>

			<div class="center-block text-center story-section {{#if active 'INTRO'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">

						<p>
							Decisions made today about infrastructure, health, water management, agriculture,
							biodiversity and housing will have lasting consequences for future generations.
						</p>
						<p>
							The Australian Government is investing in programs such as the
							<a class="white-underline" href="https://www.environment.gov.au/climate-change/climate-science/australian-climate-change-science-program" target="_blank">
								Australian Climate Change Science Program</a> and the Natural Resource Management Climate Change Impacts and Adaptation
							Research Program to help decision-makers understand and manage likely climate change impacts.
						</p>
						<button class="section-trigger hollow button white-button medium" data-section="CLIMATE"><i data-section="CLIMATE" class="fa fa-chevron-left"></i> BACK</button>
						<button class="section-trigger hollow button white-button medium" data-section="INTRO2">NEXT <i data-section="INTRO2" class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>

			<div class="center-block text-center story-section {{#if active 'INTRO2'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">

						<p>
							The global average air temperature has increased by around 0.85 degrees Celsius since 1880
							<a class="white-underline" href="http://earthobservatory.nasa.gov/Features/WorldOfChange/decadaltemp.php" target="_blank"><i class="fa fa-external-link"></i></a>.<br/>
							The observed increase in temperatures has occurred across the globe, with rising temperatures recorded
							on all continents and in the oceans.
						</p>
						<p>
							In Australia, average air temperatures have increased
							by around 0.9 degrees Celsius since 1910, and each decade has been warmer than the previous decade since the 1950s
							<a class="white-underline" href="http://www.csiro.au/Outcomes/Climate/Understanding/State-of-the-Climate-2012.aspx" target="_blank"><i class="fa fa-external-link"></i></a>.
						</p>
						<button class="section-trigger hollow button white-button medium" data-section="INTRO"><i data-section="INTRO" class="fa fa-chevron-left"></i> BACK</button>
						<button class="section-trigger hollow button white-button medium" data-section="MAP">NEXT <i data-section="MAP" class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>

			<div class="story-section {{#if active 'MAP'}}show-section{{/if}}">

				<div id="climate-map"></div>

				<div class="chart-panel {{#if panelActive}}active{{/if}}">
					<button class="close-climate-chart">&times;</button>
					<div id="climate-chart" class="center-block"></div>
				</div>

				<div class="center-controls center-controls-left">
					<button class="left section-trigger hollow button white-button medium" data-section="CLIMATE"><i data-section="CLIMATE" class="fa fa-chevron-left"></i> BACK</button>
				</div>

				<div class="center-controls center-controls-right">
					<button class="right section-trigger hollow button white-button medium" data-section="SUMMARY">NEXT <i data-section="SUMMARY" class="fa fa-chevron-right"></i></button>
				</div>

			</div>

			<div class="center-block text-center story-section {{#if active 'SUMMARY'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">
						<h1><i class="fa fa-line-chart"></i></h1>

						<p>
							Our climate has already changed, and further changes are likely as concentrations of
							greenhouse gases continue to increase.
						</p>
						<p>
							CSIRO and the Bureau of Meteorology produce projections for climate in Australia – which
							provide the best information available on likely future climate conditions.
							The first projections were released in 1992. The latest projections were released
							in 2007 and are available from
							<a class="white-underline" href="http://www.climatechangeinaustralia.gov.au/" target="_blank">
								Climate Change in Australia <i class="fa fa-external-link"></i>
							</a>
						</p>

						<button class="section-trigger hollow button white-button medium" data-section="MAP"><i data-section="MAP" class="fa fa-chevron-left"></i> BACK</button>
						<button class="section-trigger hollow button white-button medium" data-section="SUMMARY2">NEXT <i data-section="SUMMARY2" class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>

			<div class="center-block text-center story-section {{#if active 'SUMMARY2'}}show-section{{/if}}">
				<div class="row">
					<div class="medium-6 medium-offset-3 columns">

						<h1><i class="fa fa-graduation-cap"></i></h1>
						<p>
							The Intergovernmental Panel on Climate Change (IPCC) is the leading international
							body for assessing the most recent scientific research on climate change.
						</p>
						<p>
							The IPCC is leading the charge to assess the physical science basis, impacts, adaption &amp; vulnerability, and potential mitigation strategies.
						</p>
						<p>
							Solving these problems now, and in the future requires a wealth of STEM skills and knowledge.
						</p>

						<button class="section-trigger hollow button white-button medium" data-section="SUMMARY"><i data-section="SUMMARY" class="fa fa-chevron-left"></i> BACK</button>
						<a href="{{pathFor 'energy'}}" class="hollow button white-button medium">
							NEXT <i class="fa fa-chevron-right"></i>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>

</template>